/* Modal */
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.5);
}

.modal-content {
    background-color: white;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 400px;
    height: 220px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 30px;
}

.modal-content-title {
    font-size: 28px;
    font-weight: bold;
}

.modal-content-warn {
    font-size: 20px;
}

/* 버튼 */
.modal-button-container {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.ok {
    width: 132px;
    height: 43px;
    text-align: center;
    border-radius: 15px;
    background-color: #ACA0EB;
    color: black;
    cursor: pointer;
}

.close {
    width: 132px;
    height: 43px;
    text-align: center;
    border-radius: 15px;
    background-color: black;
    color: #fff;
    cursor: pointer;
}
